*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --Azure: #2994cb;
  --Absinthe: #a3de9e;
  --Sakura: #de9ea1;
  --Sky: #394b59;
  --Anthracite: #2a2a2a;
  --Jet: #141414;
  --Night: #181818;
  --Stone: #6c757d;
  --Zinc: #cfd2d0;
  --Absinthe-alpha: rgba(163, 222, 158, 0.8);
  --Shadow-Alpha: rgba(0, 0, 0, 0.5);
}

html,
body {
  font-family: "Play", sans-serif;
  background-color: var(--Stone);
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea,
.note-title {
  color: var(--Absinthe);
  background-color: var(--Stone);
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: var(--Absinthe);
}

.list-container .card {
  background-color: var(--Stone);
  color: var(--Night);
  font-weight: bolder;
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  background-color: var(--Stone);
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.navbar {
  background-color: var(--Night);
}

.azure {
  font-size: 26px;
  font-weight: bolder;
  color: var(--Azure);
}

.azure:hover {
  color: var(--Azure);
  text-decoration: none;
}

.sakura {
  color: var(--Sakura);
}

.center {
  background-color: var(--Zinc);
}
